.order__wrapper {
  .wrapper();
  width: 306px;
  background-color: #eb293b;
  border-radius: 10px;
  border-bottom-right-radius: 30% 5%;
  border-bottom-left-radius: 30% 5%;
}

.order-form {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 20px;
  margin-top: -15px;
}

.order-form__description {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 3px;
}

.order-form__fieldset {
  padding: 0 35px;

  input {
    width: 230px;
    margin: 5px 0 10px 0;
    padding: 7px 0;
    padding-left: 10px;
    font-size: 16.47px;
    border: none;
    border-radius: 8px;
  }
}

.order-form__label {
  font-size: 14px;
}

.order-form__price {
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 5px;

  &--old-price {
    span {
      text-decoration: line-through;
    }
  }

  &--new-price {
    margin-bottom: 10px;
  }
}

@media (min-width: @desktop-width) {
  .order-container {
    position: relative;
    width: 945px;
    margin: 0 auto;
  }

  .order-form {
    margin-top: 0;
    padding-bottom: 40px;
  }

  .order__wrapper {
    position: absolute;
    top: -185px;
    right: 0;
    width: 280px;
  }

  .order-form__description {
    width: 300px;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 10px;
  }

  .order-form__fieldset {
    padding: 0;

    input {
      width: 270px;
      margin: 8px 0 10px 0;
      padding: 9px 0;
      padding-left: 10px;
      font-size: 16.47px;
      border: none;
    }
  }

  .order-form__label {
    font-size: 15px;
  }

  .order-form__price {
    font-size: 14px;
    margin-top: 5px;
  }
}
